/*bright-green': {
    '50': '#f1ffe6',
    '100': '#e1fdca',
    '200': '#c5fb9b',
    '300': '#9ef561',
    '400': '#73e925',
    '500': '#5bd012',
    '600': '#43a709',
    '700': '#337f0c',
    '800': '#2c6410',
    '900': '#275413',
    '950': '#102f04',
},
*/


:root{
    --navbar:#a1ef67;
    --navbarfontscolor: #387912;
    --backgroundcolor :#f1ffe6;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--backgroundcolor);
}

.yuyito_nav{
    width: 50px;
    height: 50px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--navbar);
    padding: .5rem;
    
    
}

ul a{
    color: var(--navbarfontscolor);
    text-decoration: none;

}
ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}