:root{
    --navbar:#a1ef67;
    --navbarfontscolor: #387912;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.yuyito_nav{
    width: 60px;
    height: 60px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--navbar);
    padding: .5rem;
    
}

ul a{
    color: var(--navbarfontscolor);
    text-decoration: none;

}
ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}